form.signup,
form.login {    
  margin-top: 50px;

}
#signin-button {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    position: relative; 
     padding: 15px; 
    margin-left: 400px; 
    

}

#btn-insert {
    z-index: 4;
     font-family: 'Ubuntu', sans-serif;
    font-size: 16px; 
 
    margin-left: 500px;

}
#search-input {
    background-color: black;
    padding:10px;
}
 #navcat  {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 12px;
    margin-right: 12px;
    padding: 10px;
    font-size: 18px;
    /* position: relative; */
    float:center;

} 


#navdog  {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    text-align:right;
    padding: 10px;
    font-size: 15px;
    margin-left:300px;
    position:relative;
    float:right;
}
.navbar {
    padding:12px;
    color: white;
    background-color:black;
    font-family: 'Ubuntu', sans-serif;
    

    
  
}
 a .nav-item {
    color: white;

} 

/* 
#nav-link  { 
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}  */

.thumbnail-feed {
    /* padding-top: 20px; */
    /* position: fixed; */
    position: absolute;
    background-color:black;
    margin-top: 50px;
    margin-left: 0; 



    /* font-size: 36px */
  }
  
  #btn-insert {
      z-index: 7;

  }
  #flogo {
      
      margin-right: 100px; 
      float:left;
  }
.front-page-feed {
    padding-top: 20px;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2;

    position: fixed;
    width: 50%; 
    height: 100%;
    margin-left:50%;
    overflow-y: scroll;
    color: white;
}

.thumbnail {
    padding-top: 20px;
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    /* opacity: 0.85; */
    /* border: 2px solid black; */
    margin-bottom: 20px;
    width: 50%;
    /* font-size: 25 */
    /* background-color: rgba(0, 0, 0, 0.9); */
  
}

.title { 
    margin-left: 10px;
    padding: 10px;
    width: 85%;
    margin-top: 85px;
    font-family: retiro-std-24pt, sans-serif; 
    font-size: 44px;
    line-height: 0.8;  
    color: white;
    text-transform: uppercase;
    text-align: center;
}



a:hover {
    text-decoration: none;
}

.title:hover {
    text-decoration: none;

    transform: translateX(30px)
}

.date {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right:35px;
    font-family: neue-haas-grotesk-display, sans-serif;
    /* background-color: white; */
    color: black;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

mark {
    background-color: white;
}

.subtitle {
    margin-left: 10px;
    margin-right: 10px;
    font-family: neue-haas-grotesk-display, sans-serif;
    line-height: 0.95;
    color: white;
    font-size: 24px;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    width: 85%;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 15px;

}

.source{
    text-align: center;
    width: 85%;
    padding: 10px;
    margin-left: 10px;
    font-family: europa, sans-serif;
    font-weight: 400;   
    font-style: normal;
    font-size: 26px
    

}
.edited-blurb {
    font-family: europa, sans-serif;
    font-weight: 400;   
    font-style: normal;
    color: white;
    width: 85%;
    margin-left: 10px;
    margin-bottom: 30px;
    text-align: center;
    margin-right: 30px;

}

.readarticle {
    color: white;
    margin-left: 200px;
    
}


.readarticle:hover {
    color: red;
    text-decoration: none;
}

.arrow {
    width: 30px;
    margin-left: 10px;
    padding-bottom: 25px;
}

a {
    color: white;
}

.fold-nav {
    z-index:2;
    position: fixed;


}

.unfold-nav {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: bold;

}

#fold-nav-line{
    width: 225px;

}

#unfold-nav-logo {
    width: 225px;

}

.categories-list {
    margin-top: 50px;
    margin-left: 10px;
    margin-bottom: 50px;
}

/* .nav-category {
    background-color:black;
    margin: 4%;
    font-size: 30px;
    float: left;
    
} */

.nav-category:hover {
    transform: translateX(15px);
    color: red
    
}

#x {
    z-index:3;
    position: fixed;
    width: 20px;
    margin-top: 10px;
    margin-left: 10px;
}

/* #search-form {
    width: 225px;
} */
.lolsearch {
    /* position: fixed; */
    z-index: 5;
    font-size: 15px;
    /* width: 20px; */
    font-family: 'Ubuntu', sans-serif;


    margin-left: 20px;
    /* margin-top: -15px; */
}



#search-btn{


    font-family: 'Ubuntu', sans-serif;
   
    /* margin-top: 25px; */
    background-color: white;
    color: black;
    border: 1px solid black;
}

#search-btn:hover {
    font-family: 'Ubuntu', sans-serif;
    background-color:black;
    color:#fff;
    /* color: black; */
    border: 1px solid black;
}

